myVENV
.git
Screenshot (10).png
Screenshot (11).png
Screenshot (12).png
Screenshot (13).png
Screenshot (16).png
Screenshot (17).png
Screenshot (18).png
Screenshot (19).png
Screenshot (20).png
Screenshot (21).png
Screenshot (22).png
Screenshot (23).png
Screenshot (10).png